[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopenssl = "*"
cryptography = "*"
"asn1crypto" = "*"
smime = {git = "https://github.com/balena/python-smime.git"}
sparkpost = {git = "https://github.com/sparkpost/python-sparkpost.git"}
pytest = "*"
dkimpy = "*"

[dev-packages]
pytest = "*"
